
* {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Playfair Display, serif;
  font-weight: 500;
}

html,
body {
  height: 100%;
}

.content {
  min-height: calc(100vh - 50px);
}

.header {
  background-color: #72939c;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.header * {
  background: transparent;
}

.titulo {
  padding: 6px;
}

.centralize {
  display: flex;
  margin-top: 150px;
  justify-content: center;
}

.mainBox {
  max-width: 600px;
  background-color: white;
  padding: 0px;
  border: 3px solid #8a8a8a;
  border-radius: 5px;
  margin: 0 10%;
}

.boxHeader {
  background-color: #8a8a8a;
  display: flex;
  justify-content: end;
}

.boxHeader button {
  margin: 5px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 1px 1px 0px rgba(67, 65, 65, 0.614);
}

/* style Formulario */

.form-control {
    color: #000000;           /* Cor do texto branca */
    border: 1px solid #ccc;   /* Borda padrão */
    padding: 10px;            /* Espaçamento interno */
    border-radius: 4px;       /* Bordas arredondadas */
}

.text-danger {
    color: #dc3545; /* Cor de erro vermelha do Bootstrap */
}

/* style Formulario */

.taskBox {
  display: flex;
  flex-direction: column;
  border: 3px white solid;
  border-radius: 5px;
  min-width: 100px;
  max-width: 600px;
  padding: 0;  /* Remover padding padrão da ul */
  list-style-type: none;  /* Remover bullets padrão */
}

.taskBox li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;  /* Adiciona uma linha entre os itens */
  padding: 10px;  /* Espaçamento interno para os itens */
}

.taskBox li p {
  margin: 0;  /* Remove a margem padrão dos parágrafos */
}

.footer {
  margin-top: 10px;
  height: 40px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.footer p {
  background: transparent;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); 
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}